        {% if lastRemovals is not empty %}
        <h5 class='mb-3 mt-2 px-3 text-start'>Derniers enlèvements</h5>
        {% for otherRemoval in lastRemovals %}
        <div class="row justify-content-center">
            <button class='btn btn-secondary col-11 ajax-link-action rounded-0 rounded-top' action="{{path('app_volunteer_removal_getform',{'id':otherRemoval.id})}}" data-target-spinner='modal-content' data-spinner-type='2' data-bs-toggle='modal-content'>
                <div class="row" data-bs-toggle='tooltip' data-bs-title='Modifier cet enlèvement' data-bs-placement="top">
                    <div class='col-4'>{{ otherRemoval.dateRequest|date('d/m/Y') }}</div>
                    <div class='col-4'>{{ otherRemoval.weight ? "#{otherRemoval.weight} kg" : "Poids non défini" }}</div>
                    <div class='col-4'>
                        {% if otherRemoval.state == 0 %}
                            A faire
                        {% elseif otherRemoval.state == 1 %}
                            Planifiée
                        {% else %}
                            Réalisée
                        {% endif %}
                    </div>
                </div>
            </button>
            {% if otherRemoval.comment is not empty %}
            <p class='row col-11 border-start border-end border-bottom border-secondary border-2 mb-2 text-center justify-content-center pb-1 rounded-bottom'>{{ otherRemoval.comment }}</p>
            {% else %}
            <div class='row col-11 border-start border-end border-bottom border-secondary border-2 mb-2 justify-content-center pb-1 rounded-bottom' style='color: darkgray'>Pas de commentaires</div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <h6 class='mb-1 mt-3 text-center' style='color: darkgray'>Aucun enlèvement enregistré pour ce fournisseur</h6>
        {% endif %}
        <div class='py-2'></div>
    