<div class="modal-header">
        <div class='row col-12 gap-3'>
            <h5 class="modal-title col-4" id="removalsModalLabel">Assigner des accompagnateurs</h5>
            <div id='input-search' class="col-4">
                {% include 'volunteer/planning/component/search.html.twig' %}
            </div>    
            <button type="button" class="btn-close col-3 mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
</div>
                {% include 'volunteer/planning/component/volunteerGrid.html.twig' %}
