<div>
	<div class='row'>
		<div class='col-2 py-2'>
			<div class='border rounded p-0 d-grid' style='height:5vh'>
				<button class='btn btn-primary m-0 p-2 text-center ajax-link-action' action="{{path('app_volunteer_delivery')}}" data-target-spinner='body-interface' data-spinner-type='1'>
					<i class="fa-solid fa-truck-ramp-box pr-2"></i>Enlèvements
				</button>
			</div>
		</div>

		<div class='col-6 pt-2'>
			<div id='input-search' class="input-group">
				{% include 'volunteer/removals/component/search.html.twig' %}
			</div>
		</div>

		<div class='col-2 py-2'>
			<div id='select-filtersattach' class='col-9'>
					{% include 'volunteer/removals/component/filterattach.html.twig' %}
				</div>
		</div>
		<div class='col-2 py-2'>
			<div class='row'>
				<div id='select-filters' class='col-9'>
					{% include 'volunteer/removals/component/filter.html.twig' %}
				</div>
				<div class='col-3 d-grid'>
					<button action="{{path('app_volunteer_removal')}}" data-bs-toggle='tooltip' data-bs-title='Réinialiser les filtres' data-bs-placement="top" data-target-spinner='body-interface' data-spinner-type='1' class='btn btn-dark ajax-link-action'>
						<i class="fa-solid fa-rotate-right text-2 mt-1"></i>
					</button>
				</div>
			</div>
		</div>

	</div>
	<hr/>
	<div class='table-title'>
		<div class='row'>
			<div class='col-11'>
				<div class='row'>
					<div class='col-3'>Date</div>
					<div class='col-3'>Instructions</div>
					<div class='col-3'>Fournisseur</div>
					<div class='col-3'>Contenants</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div id='table-content'>
		{% include 'volunteer/removals/table/content.html.twig' %}
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="supplierModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div id='modal-content' class="modal-content"></div>
	</div>
</div>