<div>
	<div class='row'>
		<div class='col-2 py-2'>
			<div class='border border-dark rounded p-0' style='height:5vh'>
				<h1 class='m-0 p-2 text-center'>
					<i class="fa-solid fa-truck pr-2"></i>Enlèvements</h1>
			</div>
		</div>
		<div class='col-5 pt-2'>
			<div class="input-group">
				<input type="search" style='height:5vh' class="form-control rounded border border-primary" placeholder="Rechercher par ville ou fournisseur"/>
			</div>
		</div>
		<div class='col-2 py-2'>
			<div class="input-group" style='height:5vh'>
				<select class="form-control rounded border border-primary" style='height:5vh'>
					<option>A faire</option>
					<option>Planifié</option>
					<option>Réalisé</option>
				</select>
			</div>
		</div>
		<div class='col-3 py-2'>
			<div class="d-grid">
				<button class='btn btn-primary' data-bs-toggle="modal" data-bs-target="#removalsModal">Ajouter une demande</button>
			</div>
		</div>
	</div>
	<hr/>
	<div class='table-title'>
		<div class='row'>
			<div class='col-2'>Date</div>
			<div class='col-2'>Ville</div>
			<div class='col-3'>Fournisseur</div>
			<div class='col-2'>Contact</div>
			<div class='col-3'>Commentaires</div>
		</div>
	</div>
	<hr/>
	<div class='table-content'>
		<div class='row table-content-line' style='cursor:pointer' data-bs-toggle="modal" data-bs-target="#removalModal">
			<div class='col-2'>12/08/2022</div>
			<div class='col-2'>MONNIERES</div>
			<div class='col-3'>DEPOTS La Malvineuse - Le Village Boucher</div>
			<div class='col-2'>0687802129</div>
			<div class='col-2'>1 palette</div>
			<div class='col-1 p-2'>
				<i class="fa-solid fa-calendar-check text-success" style='font-size:3vh' data-bs-toggle='tooltip' data-bs-title='Réalisé' data-bs-placement="left"></i>
			</div>
		</div>
		<hr/>
		<div class='row table-content-line' style='cursor:pointer' data-bs-toggle="modal" data-bs-target="#removalModal">
			<div class='col-2'>12/08/2022</div>
			<div class='col-2'>MONNIERES</div>
			<div class='col-3'>DEPOTS La Malvineuse - Le Village Boucher</div>
			<div class='col-2'>0687802129</div>
			<div class='col-2'>1 palette</div>
			<div class='col-1 p-2'>
				<i class="fa-solid fa-calendar-plus text-primary" style='font-size:3vh' data-bs-toggle='tooltip' data-bs-title='Planifié' data-bs-placement="left"></i>
			</div>
		</div>
		<hr/>
		{% for i in 0..50 %}
			<div class='row table-content-line' style='cursor:pointer' data-bs-toggle="modal" data-bs-target="#removalModal">
				<div class='col-2'>12/08/2022</div>
				<div class='col-2'>MONNIERES</div>
				<div class='col-3'>DEPOTS La Malvineuse - Le Village Boucher</div>
				<div class='col-2'>0687802129</div>
				<div class='col-2'>1 palette</div>
				<div class='col-1 p-2'>
					<i class="fa-solid fa-calendar-xmark text-danger" style='font-size:3vh' data-bs-toggle='tooltip' data-bs-title='A faire' data-bs-placement="left"></i>
				</div>
			</div>
			<hr/>
		{% endfor %}
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="removalsModal" tabindex="-1" aria-labelledby="removalsModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removalsModalLabel">Ajouter une demande</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Date</label>
					<input type="date" class="form-control border border-primary" id="exampleFormControlInput1" placeholder="jj/mm/aaaa">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Fournisseur</label>
					<div class="row">
						<select class="selectpicker form-control border border-primary" data-live-search="true" title="Sélectionner un fournisseur">
							<option data-tokens="choice1" data-content="<div><b>2LM</b></div><div>44690 La Haye Fouassière</div>">
								2LM
							</option>
							<option data-tokens="choice2" data-content="<div><b>A 3 Distrib sur le bd du Maine</b></div><div>49300 Cholet</div>">
								A 3 Distrib  sur le bd du Maine
							</option>
							<option data-tokens="choice3" data-content="<div><b>A D M R</b></div><div>44120 Vertou</div>">
								A D M R
							</option>
							<option data-tokens="choice4" data-content="<div><b>A.C.S Chantal (SARL)</b></div><div>44340 Bouguenais </div>">
								A.C.S Chantal (SARL)
							</option>
							<option data-tokens="choice5" data-content="<div><b>A.D Rembaud pièces détachées auto</b></div><div>85300 Challans</div>">
								A.D Rembaud pièces détachées auto
							</option>
						</select>
					</div>
				</div>
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Spécificités et estimations</label>
					<textarea class="form-control border border-primary" id="exampleFormControlTextarea1" rows="6"></textarea>
				</div>
			</div>
			<hr/>
			<div class="row py-2">
				<div class='col-3'>
					<div class="d-grid">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Annuler</button>
					</div>
				</div>
				<div class='col-6'></div>
				<div class='col-3'>
					<div class="d-grid">
						<button type="button" class="btn btn-success">Valider</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="removalModal" tabindex="-1" aria-labelledby="removalModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removalModalLabel">Détail de l'enlèvement</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Date</label>
					<input type="date" class="form-control border border-primary" id="exampleFormControlInput1" placeholder="jj/mm/aaaa" value='2022-08-12'>
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Fournisseur</label>
					<div class="row">
						<select class="selectpicker form-control border border-primary" data-live-search="true" title="Sélectionner un fournisseur">
							<option data-tokens="choice1" data-content="<div><b>2LM</b></div><div>44690 La Haye Fouassière</div>">
								2LM
							</option>
							<option data-tokens="choice2" data-content="<div><b>A 3 Distrib sur le bd du Maine</b></div><div>49300 Cholet</div>">
								A 3 Distrib  sur le bd du Maine
							</option>
							<option data-tokens="choice3" data-content="<div><b>A D M R</b></div><div>44120 Vertou</div>">
								A D M R
							</option>
							<option data-tokens="choice4" data-content="<div><b>A.C.S Chantal (SARL)</b></div><div>44340 Bouguenais </div>">
								A.C.S Chantal (SARL)
							</option>
							<option data-tokens="choice5" data-content="<div><b>A.D Rembaud pièces détachées auto</b></div><div>85300 Challans</div>">
								A.D Rembaud pièces détachées auto
							</option>
							<option selected='true' data-tokens="choice5" data-content="<div><b>DEPOTS La Malvineuse - Le Village Boucher</b></div><div>44690 MONNIERES</div>">
								DEPOTS La Malvineuse - Le Village Boucher
							</option>
						</select>
					</div>
				</div>
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Spécificités et estimations</label>
					<textarea class="form-control border border-primary" id="exampleFormControlTextarea1" rows="6">1 palette</textarea>
				</div>
				<div class="row mb-3">
					<div class='col-4'>
						<label for="exampleFormControlInput1" class="form-label">Poids livraison</label>
						<input type="number" class="form-control border border-primary" id="exampleFormControlInput1" value='0'>
					</div>
					<div class='col-4'>
						<label for="exampleFormControlInput1" class="form-label">Poids réception</label>
						<input type="number" class="form-control border border-primary" id="exampleFormControlInput1" value='0'>
					</div>
					<div class='col-4 text-center'>
						<label for="exampleFormControlInput1" class="form-label">Réalisé</label><br>
						<input class="form-check-input border border-primary" type="checkbox" value="" id="flexCheckDefault" style='height:4vh;width:4vh'>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row py-2">
				<div class='col-3'>
					<div class="d-grid">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
				<div class='col-3'></div>
				<div class='col-3'>
					<div class="d-grid">
						<button type="button" class="btn btn-danger">Supprimer</button>
					</div>
				</div>
				<div class='col-3'>
					<div class="d-grid">
						<button type="button" class="btn btn-success">Modifier</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>