<div class='col-2 py-2 active' role='button' aria-pressed='true'>
    <div class='border border-dark rounded p-0' style='height:5vh'>
        <h1 class='m-0 p-2 text-center text-nowrap'>
        <i class="fa-solid fa-arrow-rotate-left pr-1"></i>Revenir à la semaine courante</h1>
    </div>
</div>
