<div class='col-3 py-2'>
    <a class="ajax-link-action" action='{{path('app_volunteer_planning')}}' data-target-spinner='body-interface' >
    <button class='border border-dark rounded p-0' style='height:5vh' >
            <h1 class='m-0 p-2 text-center'>
            <i class="fa-solid fa-arrow-rotate-left pr-2"></i>Revenir à la semaine courante</h1>
    </button>
    </a>
</div>
