{% extends 'base.html.twig' %}

{% block title %} - Planning
{% endblock %}

{% block menu %}
	{% include 'volunteer/menu/menu.html.twig' %}
{% endblock %}

{% block body %}
	<div id='content-planning'>
		{% include 'volunteer/planning/content.html.twig' %}
	</div>
{% endblock %}
