body {
    background-color: lightgray;
    color: #201E1F;
}

$primary: darken(#428bca, 20%);
$secondary: #EFE9F4;
$danger: #d72229;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/dist/css/bootstrap-select.min";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.required:after {
    content: " *";
    color: red;
}

h1 {
    margin: 0px;
    padding: 0px;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2vh;
}

.menu-title {
    margin: 0px;
    padding: 0px;
    font-size: 2vh;
}

hr {
    margin: 0px;
    padding: 0px;
}

.table-title {
    font-size: 2vh;
    padding-right: 1vw;
    height: 4vh;
    background-color: #201E1F;
    color: $secondary;
}

.table-content {
    font-size: 1.8vh;
    height: 69vh;
    overflow-y: scroll;
}

.table-content-line {
    height: 30vh;
}

.table-content-cell:hover {
    background-color: $secondary;
}

.table-content-cell:hover span{
    color: $primary;
}

.table-content-line-edit {
    color: white;
}

.table-bottom{
    background-color: #EFE9F4;
}

.btn-primary {
    height: 5vh;
    font-size: 1.5vh;
    padding: 1vh;
}

.custom-control-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

@for $i from 1 through 6 {
    .p-#{$i} {
        padding: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .pt-#{$i} {
        padding-top: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .pb-#{$i} {
        padding-bottom: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .pr-#{$i} {
        padding-right: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .pl-#{$i} {
        padding-left: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .py-#{$i} {
        padding-top: 1vh*$i;
        padding-bottom: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .px-#{$i} {
        padding-right: 1vh*$i;
        padding-left: 1vh*$i;
    }
}

@for $i from 1 through 6 {
    .text-#{$i} {
        font-size: 1vh*$i;
    }
}

.row {
    padding: 0px;
    margin: 0px;
}

//Scrollbar
.table-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(205, 220, 40, .3);
    background-color: #F5F5F5;
    border-radius: 1vw;
}

.table-content::-webkit-scrollbar {
    width: 1vw;
    background-color: #F5F5F5;
}

.table-content::-webkit-scrollbar-thumb {
    background-color: #cddc28;
    border-radius: 1vw;
    background-image: -webkit-linear-gradient(90deg,
            rgba(205, 220, 40, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(205, 220, 40, .2) 50%,
            rgba(205, 220, 40, .2) 75%,
            transparent 75%,
            transparent)
}

.spinner-grow {
    width: 40vh;
    height: 40vh;
    display: block;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-top: -20vh;
    margin-right: -20vh;
}

.spinner-border{
    width: 20vh;
    height: 20vh;
}