<div class='p-1 table-content-cell' style='cursor:pointer'>
	<div class='border border-rounded p-4 {{active?' border-success text-success':''}}'>
		{{vehicle.hgv? 'PL ' : ''}}{{vehicle.name}}
	</div>
</div>