<div class="modal-header">
	<h5 class="modal-title" id="removalsModalLabel">Définir le véhicule</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<div class='row'>
		{% if(vehicles|length) %}
			{% for vehicle in vehicles %}
				<div class='col-3 ajax-link-action' action="{{path('app_volunteer_planning_select_vehicle',{'vehicleId':vehicle.id,'pLineId':pLine.id})}}" data-target-spinner='select-vehicle-{{vehicle.id}}' data-spinner-type='2' id='select-vehicle-{{vehicle.id}}'>
					{% include 'volunteer/planning/selection/vehicles/cell.html.twig' with {'active':(vehicle == pLine.vehicle)?true:false} %}
				</div>
			{% endfor %}
		{% else %}
			Aucun véhicule pour ce site
		{% endif %}
	</div>
</div>
