<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% if app.user %}
			<div id='log-user' class='bg-dark text-white p-2 pt-1' style='position:absolute;z-index:1000;top:0%;right:0%;'>
				<a href='{{path('app_logout')}}' data-bs-toggle='tooltip' data-bs-title='Déconnexion' data-bs-placement="bottom">
					{{app.user.username}}<i class="fa-solid fa-right-from-bracket text-red pl-2"></i>
				</a>
			</div>
		{% endif %}
		<div id='flash-message' style='position:absolute;z-index:2000;width:90%;top:2%;left:5%'>
			{% include 'flashMessages.html.twig' %}
		</div>
		<div id='menu-interface'>
			{% block menu %}
				MENU
			{% endblock %}
		</div>
		<div id='body-interface'>
			{% block body %}
				BODY
			{% endblock %}
		</div>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
