<div class='col'>
	<a href="{{path(route)}}">
		<div class='text-center menu-title'>{{title}}</div>
		<div class='text-center'>
			<div>
				<div class='btn btn-primary rounded-circle' style='height:10vh;width:10vh;'>
					<i class="{{icon}}" style='font-size:5vh;padding:1vh'></i>
				</div>
			</div>
		</div>
	</a>
</div>
