<div class='row bg-secondary py-1 shadow-lg' style='height:15vh'>
	{% include 'volunteer/menu/element.html.twig' with {'title': 'Enlèvements','icon':'fa-solid fa-truck','route':'app_volunteer_removals'} only %}
	{% include 'volunteer/menu/element.html.twig' with {'title': 'Fournisseurs','icon':'fa-solid fa-box-open','route':'app_volunteer_supplier'} only %}
	{% include 'volunteer/menu/element.html.twig' with {'title': 'Planning','icon':'fa-solid fa-calendar-days','route':'app_volunteer_planning'} only %}
	{% include 'volunteer/menu/element.html.twig' with {'title': 'Poids','icon':'fa-solid fa-weight-scale','route':'app_volunteer_supplier'} only %}
</div>